<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- PROPERTIES -->
    <property name="logFile"
        value="jaxws-jetty-cxf-basic-authentication-test.log" />
    <property name="logFile-ws"
        value="jaxws-jetty-cxf-basic-authentication-ws-test.log" />

    <!-- APPENDERS -->
    <appender name="APP_LOG_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${logFile}</File>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]
                %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="APP_LOG_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
            by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]
                %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="WS_LOG_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${logFile-ws}</file>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile-ws}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]
                %m%n
            </pattern>
        </encoder>
    </appender>

    <!-- LOGGERS -->
    <logger name="info.source4code.soap.http.cxf" level="DEBUG" />

    <logger name="org.springframework" level="WARN" />
    <logger name="org.apache.cxf" level="WARN" />
    <logger name="org.eclipse.jetty.server" level="WARN" />

    <!-- level INFO needed to log SOAP messages -->
    <logger name="org.apache.cxf.services" level="INFO"
        additivity="false">
        <appender-ref ref="WS_LOG_FILE" />
    </logger>

    <!-- LOG LEVEL -->
    <root level="INFO">
        <appender-ref ref="APP_LOG_FILE" />
        <appender-ref ref="APP_LOG_STDOUT" />
    </root>

</configuration>
