<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- PROPERTIES -->
    <property name="logFile" value="jaxws-jetty-cxf-logging-test.log" />
    <property name="logFile-ws" value="jaxws-jetty-cxf-logging-ws-test.log" />

    <!-- LOGBACK APPENDERS -->
    <appender name="LOG_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${logFile}</File>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]
                %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="LOG_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
            by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]
                %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="WS_LOG_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${logFile-ws}</file>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile-ws}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]
                %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="info.source4code.soap.http.cxf" level="DEBUG" />

    <logger name="org.springframework" level="WARN" />
    <logger name="org.apache.cxf" level="INFO" />

    <!-- INFO level needed to log SOAP messages -->
    <logger name="org.apache.cxf.services" level="INFO" />

    <!-- LOG LEVEL -->
    <root level="WARN">
        <appender-ref ref="LOG_FILE" />
        <appender-ref ref="LOG_STDOUT" />
    </root>

    <!-- SERVICE CALL LOG -->
    <logger name="org.apache.cxf.services" additivity="false">
        <appender-ref ref="WS_LOG_FILE" />
    </logger>

</configuration>