<configuration>

    <!-- PROPERTIES -->
    <property name="logFile" value="jsf-jetty-primefaces-fileupload-test.log" />

    <!-- LOGBACK APPENDERS -->
    <appender name="LOG_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${logFile}</File>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]
                %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="info.source4code.jsf.primefaces" level="DEBUG" />

    <!-- LOG LEVEL -->
    <root level="INFO">
        <appender-ref ref="LOG_FILE" />
    </root>

</configuration>
